name: Deploy node js application to vps

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            
            cd /root/www/smart-budget-manager
            git pull origin main
            cd backend-api
            docker compose down
            docker compose up -d --build

            cd ../client
            docker compose down
            docker compose up -d --build
